@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

body {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px;
}

@theme {
    --color-blue-500: hsl(220 98% 61%);

    --color-gray-50: hsl(0 0% 98%);
    --color-gray-300: hsl(233 11% 84%);
    --color-gray-600: hsl(236 9% 61%);

    --color-purple-300: hsl(234 39% 85%);
    --color-navy-850: hsl(235 19% 35%);

    --color-navy-950: hsl(235 21% 11%);
    --color-navy-900: hsl(235 24% 19%);
    --color-purple-100: hsl(236 33% 92%);
    --color-purple-600: hsl(235 16% 43%);
    --color-purple-700: hsl(233 14% 35%);
    --color-purple-800: hsl(237 14% 26%);
}